@charset "UTF8";

body {
    background-color: rgb(238, 177, 134);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(20, 92, 92);
}
h2 {
    color: rgb(206, 68, 68);
}
p {
    text-align: justify;
}  